@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,800&display=swap");
@keyframes circleLines {
  0% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes circleColor {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

html, body {
  width: 100%;
  position: relative;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.header, footer {
  width: 100%;
  position: relative;
  padding: 25px 10% 29px 10%;
  box-shadow: 0 5px 10px rgba(55, 54, 54, 0.3);
  background-color: #373636;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;
}

@media only screen and (max-width: 1680px) {
  .header, footer {
    padding: 25px 30px 29px 30px;
  }
}

@media only screen and (max-width: 1150px) {
  .header, footer {
    justify-content: space-between;
  }
}

.header__left, footer__left {
  width: 47.5%;
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.header .logo-cnt, footer .logo-cnt {
  display: flex;
  align-items: center;
}

.header .logo-cnt .logo, footer .logo-cnt .logo {
  width: 31px;
  height: 34px;
  margin: 0 19px 0 0;
  background-image: url("../images/icons/logo-webcam.png");
}

@media only screen and (max-width: 1366px) {
  .header .logo-cnt .logo, footer .logo-cnt .logo {
    width: 26px;
    height: 29px;
    margin: 0 15px 0 0;
  }
}

@media only screen and (max-width: 768px) {
  .header .logo-cnt .logo, footer .logo-cnt .logo {
    width: 28px;
  }
}

@media only screen and (max-width: 568px) {
  .header .logo-cnt .logo, footer .logo-cnt .logo {
    width: 25px;
  }
}

.header .logo-cnt span, footer .logo-cnt span {
  color: #ffffff;
  display: block;
  font-family: 'Avenir-Black';
  font-size: 20px;
  line-height: 1.2;
}

@media only screen and (max-width: 1366px) {
  .header .logo-cnt span, footer .logo-cnt span {
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .header .logo-cnt span, footer .logo-cnt span {
    font-size: 18px;
  }
}

@media only screen and (max-width: 568px) {
  .header .logo-cnt span, footer .logo-cnt span {
    font-size: 16px;
  }
}

@media only screen and (max-width: 425px) {
  .header .logo-cnt span, footer .logo-cnt span {
    font-size: 14px;
  }
}

@media only screen and (max-width: 360px) {
  .header .logo-cnt span, footer .logo-cnt span {
    font-size: 12px;
  }
}

.header .nav-links-cnt, footer .nav-links-cnt {
  display: flex;
  align-items: center;
  margin-left: 60px;
}

@media only screen and (max-width: 1150px) {
  .header .nav-links-cnt, footer .nav-links-cnt {
    display: none;
  }
}

.header .nav-links-cnt a, footer .nav-links-cnt a {
  position: relative;
  color: #b9b9b9;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

@media only screen and (max-width: 1366px) {
  .header .nav-links-cnt a, footer .nav-links-cnt a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1366px) {
  .header .nav-links-cnt a, footer .nav-links-cnt a {
    font-size: 16px;
  }
}

.header .nav-links-cnt a:not(:last-child), footer .nav-links-cnt a:not(:last-child) {
  margin: 0 40px 0 0;
}

.header .nav-links-cnt a:after, footer .nav-links-cnt a:after {
  content: '';
  position: absolute;
  width: calc(100% - .46em);
  height: 2px;
  left: 0;
  bottom: -6px;
  background: rgba(185, 185, 185, 0.75);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.4, 0, 0, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.4, 0, 0, 1);
  transition: transform 0.6s cubic-bezier(0.4, 0, 0, 1);
  transition: transform 0.6s cubic-bezier(0.4, 0, 0, 1), -webkit-transform 0.6s cubic-bezier(0.4, 0, 0, 1);
}

.header .nav-links-cnt a:hover, footer .nav-links-cnt a:hover {
  color: #cecdcd;
}

.header .nav-links-cnt a:hover:after, footer .nav-links-cnt a:hover:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.header .navigate-btn-cnt, footer .navigate-btn-cnt {
  display: flex;
  flex-flow: row nowrap;
}

.header .navigate-btn-cnt button, footer .navigate-btn-cnt button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 21px 27px;
  border: 2px solid rgba(227, 213, 206, 0.08);
  color: #ffffff;
  transition: all ease .4s;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
}

@media only screen and (max-width: 1366px) {
  .header .navigate-btn-cnt button, footer .navigate-btn-cnt button {
    padding: 17px 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .header .navigate-btn-cnt button, footer .navigate-btn-cnt button {
    padding: 15px 17px;
  }
}

@media only screen and (max-width: 768px) {
  .header .navigate-btn-cnt button, footer .navigate-btn-cnt button {
    padding: 10px 8px 11px;
  }
}

.header .navigate-btn-cnt button span, footer .navigate-btn-cnt button span {
  font-size: 20px;
  letter-spacing: 0.025em;
}

@media only screen and (max-width: 1366px) {
  .header .navigate-btn-cnt button span, footer .navigate-btn-cnt button span {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1280px) {
  .header .navigate-btn-cnt button span, footer .navigate-btn-cnt button span {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1024px) {
  .header .navigate-btn-cnt button span, footer .navigate-btn-cnt button span {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .header .navigate-btn-cnt button span, footer .navigate-btn-cnt button span {
    font-size: 12px;
  }
}

.header .navigate-btn-cnt button .icon:not(:last-child), footer .navigate-btn-cnt button .icon:not(:last-child) {
  margin: 0 20px 0 0;
}

.header .navigate-btn-cnt button .icon.arrow, footer .navigate-btn-cnt button .icon.arrow {
  width: 24px;
  height: 18px;
  background-image: url("../images/icons/arrow-right.png");
}

.header .navigate-btn-cnt button .icon.account, footer .navigate-btn-cnt button .icon.account {
  width: 19px;
  height: 19px;
  background-image: url("../images/icons/account.png");
}

.header .navigate-btn-cnt button .icon.burger, footer .navigate-btn-cnt button .icon.burger {
  width: 32px;
  height: 23px;
  background-image: url("../images/icons/menu.png");
}

@media only screen and (max-width: 1366px) {
  .header .navigate-btn-cnt button .icon.burger, footer .navigate-btn-cnt button .icon.burger {
    width: 25px;
    height: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .header .navigate-btn-cnt button .icon.burger, footer .navigate-btn-cnt button .icon.burger {
    width: 14px;
    height: 10px;
  }
}

.header .navigate-btn-cnt button:hover, footer .navigate-btn-cnt button:hover {
  border: 2px solid rgba(227, 213, 206, 0.3);
}

.header .navigate-btn-cnt .lang-btn, footer .navigate-btn-cnt .lang-btn {
  margin: 0 30px 0 0;
  color: #b9b9b9;
}

@media only screen and (max-width: 768px) {
  .header .navigate-btn-cnt .lang-btn, footer .navigate-btn-cnt .lang-btn {
    margin: 0 15px 0 0;
  }
}

.header .navigate-btn-cnt .login-btn, footer .navigate-btn-cnt .login-btn {
  margin: 0 15px 0 0;
}

.header .navigate-btn-cnt .reg-btn, footer .navigate-btn-cnt .reg-btn {
  margin: 0 55px 0 0;
  background-color: rgba(227, 213, 206, 0.08);
}

.header .navigate-btn-cnt .burger-menu, footer .navigate-btn-cnt .burger-menu {
  background-color: rgba(227, 213, 206, 0.08);
}

@media only screen and (max-width: 1150px) {
  .header .navigate-btn-cnt.tablet-hide-cnt .login-btn, .header .navigate-btn-cnt.tablet-hide-cnt .reg-btn, footer .navigate-btn-cnt.tablet-hide-cnt .login-btn, footer .navigate-btn-cnt.tablet-hide-cnt .reg-btn {
    display: none;
  }
}

footer {
  margin: 4.2% 0 0;
  justify-content: space-around;
}

footer .logo-cnt {
  display: flex;
  align-items: center;
}

footer .logo-cnt .logo {
  background-image: url("../images/icons/logo-webcam-dark.png");
}

footer .logo-cnt span {
  color: #b9b9b9;
}

footer .copyright-cnt span {
  color: #b8b8b8;
  line-height: 1.2;
  letter-spacing: 0.025уь;
}

@media only screen and (max-width: 768px) {
  footer .copyright-cnt span {
    font-size: 14px;
  }
}

@media only screen and (max-width: 425px) {
  footer .copyright-cnt span {
    font-size: 10px;
  }
}

@media only screen and (max-width: 425px) {
  footer .copyright-cnt span {
    font-size: 8px;
  }
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.slider-pagination {
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 2;
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  opacity: 0.4;
  display: block;
  cursor: pointer;
  position: relative;
  background: #2d9eed;
  transition: opacity 0.3s ease-out;
}

.swiper-pagination-bullet:not(:last-child) {
  margin-right: 10px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
  pointer-events: none;
}

.slider-nav {
  width: auto;
  right: 0;
  bottom: 0;
  z-index: 3;
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.slider-btn {
  width: 34px;
  height: 34px;
  background-color: #2d9eed;
  transition: opacity 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-btn.swiper-button-disabled {
  opacity: 0.4;
}

.slider-btn .icon {
  width: 6px;
  height: 12px;
}

.slider-btn .icon.prev-ico {
  background-image: url("../images/icons/arrow-prev.png");
}

.slider-btn .icon.next-ico {
  background-image: url("../images/icons/arrow-next.png");
}

.slider {
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  position: relative;
}

.slider__title {
  font-size: 32px;
  color: #282321;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.01em;
}

@media only screen and (max-width: 1440px) {
  .slider__title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 768px) {
  .slider__title {
    font-size: 20px;
  }
}

.slider__desc {
  width: 100%;
  position: relative;
  margin-top: 30px;
}

.slider__descInner {
  width: 100%;
  position: relative;
}

.slider__descInner--mid {
  color: #2e2a28;
  font-size: 20px;
  line-height: 1.35;
  font-weight: 600;
  letter-spacing: 0.01em;
}

@media only screen and (max-width: 1366px) {
  .slider__descInner--mid {
    font-size: 17px;
  }
}

@media only screen and (max-width: 768px) {
  .slider__descInner--mid {
    font-size: 14px;
  }
}

.slider__descInner--sml {
  margin-top: 20px;
  width: 80%;
  color: #2e2a28;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.01em;
}

@media only screen and (max-width: 1366px) {
  .slider__descInner--sml {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .slider__descInner--sml {
    font-size: 12px;
  }
}

strong {
  display: inline-block;
  position: relative;
  font-weight: inherit;
}

strong:after {
  content: '';
  position: absolute;
  height: 100%;
  bottom: -2%;
  z-index: -1;
  background-color: #e3d5ce;
  height: 20px;
}

strong:after {
  width: 100%;
  left: 0;
}

.active-btn {
  display: inline-block;
  padding: 28px 64px 29px;
  border: 2px solid #2d9eed;
  transition: all ease .4s;
}

@media only screen and (max-width: 1366px) {
  .active-btn {
    padding: 25px 55px 26px;
  }
}

@media only screen and (max-width: 1024px) {
  .active-btn {
    padding: 20px 45px 21px;
  }
}

@media only screen and (max-width: 768px) {
  .active-btn {
    padding: 15px 35px 16px;
  }
}

@media only screen and (max-width: 425px) {
  .active-btn {
    padding: 10px 25px 11px;
  }
}

.active-btn span {
  color: #282321;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: 0.08em;
}

@media only screen and (max-width: 1366px) {
  .active-btn span {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1024px) {
  .active-btn span {
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .active-btn span {
    font-size: 14px;
  }
}

@media only screen and (max-width: 568px) {
  .active-btn span {
    font-size: 12px;
  }
}

@media only screen and (max-width: 360px) {
  .active-btn span {
    font-size: 10px;
  }
}

.active-btn:hover {
  background-color: rgba(45, 158, 237, 0.5);
}

.active-btn:hover.fill-blue {
  background-color: rgba(45, 158, 237, 0.5);
}

.active-btn.fill-blue {
  box-shadow: 0 5px 10px rgba(55, 54, 54, 0.3);
  background-color: #2d9eed;
}

.main-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 12.6% 0 3.2% 10%;
  background-image: url("../images/main-bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

@media only screen and (max-width: 1024px) {
  .main-section {
    background-image: url("../images/tablet-bg.jpg");
  }
}

@media only screen and (max-width: 768px) {
  .main-section {
    margin-bottom: 40px;
    padding: 12.6% 6% 7%;
  }
}

@media only screen and (max-width: 568px) {
  .main-section {
    padding: 12.6% 6% 11%;
  }
}

@media only screen and (max-width: 425px) {
  .main-section {
    padding: 12.6% 6% 14%;
  }
}

@media only screen and (max-width: 375px) {
  .main-section {
    padding: 12.6% 6% 18%;
  }
}

@media only screen and (max-width: 360px) {
  .main-section {
    padding: 12.6% 6% 20%;
  }
}

.main-section .center-left-cnt {
  width: 50%;
  margin: 0 0 12.2%;
}

@media only screen and (max-width: 768px) {
  .main-section .center-left-cnt {
    width: 70%;
  }
}

.main-section .center-left-cnt .big-title {
  margin: 0 0 3.6%;
  color: #282321;
  font-size: 60px;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 0.03em;
}

@media only screen and (max-width: 1550px) {
  .main-section .center-left-cnt .big-title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1366px) {
  .main-section .center-left-cnt .big-title {
    font-size: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .main-section .center-left-cnt .big-title {
    margin: 0;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .main-section .center-left-cnt .big-title br {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  .main-section .center-left-cnt .big-title {
    font-size: 18px;
  }
}

.main-section .center-left-cnt .description {
  width: 77%;
  margin: 0 0 8.3%;
  color: #2b2826;
  font-size: 25px;
  line-height: 1.4;
  letter-spacing: 0.012em;
}

@media only screen and (max-width: 1440px) {
  .main-section .center-left-cnt .description {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1366px) {
  .main-section .center-left-cnt .description {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1024px) {
  .main-section .center-left-cnt .description {
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .main-section .center-left-cnt .description {
    font-size: 14px;
  }
}

@media only screen and (max-width: 425px) {
  .main-section .center-left-cnt .description {
    font-size: 12px;
  }
}

@media only screen and (max-width: 375px) {
  .main-section .center-left-cnt .description {
    font-size: 10px;
  }
}

.main-section .bot-left-cnt {
  width: 60%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

@media only screen and (max-width: 1366px) {
  .main-section .bot-left-cnt {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .main-section .bot-left-cnt {
    width: 100%;
    margin-bottom: -140px;
  }
}

.main-section .bot-left-cnt .text-block {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .main-section .bot-left-cnt .text-block {
    flex-flow: column nowrap;
    align-items: flex-start;
  }
}

.main-section .bot-left-cnt .text-block:not(:last-child) {
  margin: 0 60px 0 0;
}

@media only screen and (max-width: 1280px) {
  .main-section .bot-left-cnt .text-block:not(:last-child) {
    margin: 0 50px 0 0;
  }
}

@media only screen and (max-width: 1150px) {
  .main-section .bot-left-cnt .text-block:not(:last-child) {
    margin: 0 40px 0 0;
  }
}

.main-section .bot-left-cnt .text-block .icon {
  margin: 0 20px 0 0;
}

@media only screen and (max-width: 768px) {
  .main-section .bot-left-cnt .text-block .icon {
    margin: 0 0 15px;
  }
}

.main-section .bot-left-cnt .text-block .icon.time {
  width: 26px;
  height: 26px;
  background-image: url("../images/icons/time-is-money.png");
}

@media only screen and (max-width: 1150px) {
  .main-section .bot-left-cnt .text-block .icon.time {
    width: 22px;
    height: 22px;
  }
}

.main-section .bot-left-cnt .text-block .icon.imac {
  width: 28px;
  height: 27px;
  background-image: url("../images/icons/imac.png");
}

@media only screen and (max-width: 1150px) {
  .main-section .bot-left-cnt .text-block .icon.imac {
    width: 24px;
    height: 23px;
  }
}

.main-section .bot-left-cnt .text-block .icon.rich {
  width: 27px;
  height: 27px;
  background-image: url("../images/icons/rich.png");
}

@media only screen and (max-width: 1150px) {
  .main-section .bot-left-cnt .text-block .icon.rich {
    width: 23px;
    height: 23px;
  }
}

.main-section .bot-left-cnt .text-block span {
  color: #282321;
  line-height: 1.2;
  letter-spacing: 0.025em;
}

@media only screen and (max-width: 768px) {
  .main-section .bot-left-cnt .text-block span {
    font-size: 14px;
  }
}

@media only screen and (max-width: 568px) {
  .main-section .bot-left-cnt .text-block span {
    font-size: 12px;
  }
}

@media only screen and (max-width: 425px) {
  .main-section .bot-left-cnt .text-block span {
    font-size: 10px;
  }
}

.work-format {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  padding: 80px 12% 8.1% 10%;
}

@media only screen and (max-width: 768px) {
  .work-format {
    flex-flow: column nowrap;
    padding: 120px 6% 8.1%;
  }
}

.work-format .active-btn {
  padding: 28px 55px 29px;
}

@media only screen and (max-width: 1366px) {
  .work-format .active-btn {
    padding: 25px 55px 26px;
  }
}

@media only screen and (max-width: 1024px) {
  .work-format .active-btn {
    padding: 20px 45px 21px;
  }
}

@media only screen and (max-width: 768px) {
  .work-format .active-btn {
    padding: 24px 67px 25px;
  }
}

@media only screen and (max-width: 568px) {
  .work-format .active-btn {
    width: 100%;
    padding: 24px 0px 25px;
    text-align: center;
  }
}

@media only screen and (max-width: 568px) {
  .work-format .active-btn span {
    font-size: 16px;
  }
}

@media only screen and (max-width: 425px) {
  .work-format .active-btn span {
    font-size: 14px;
  }
}

.work-format .center-left-cnt {
  width: 42.3%;
  margin: 0 7.9% 0 0px;
}

@media only screen and (max-width: 1366px) {
  .work-format .center-left-cnt {
    width: 43.3%;
  }
}

@media only screen and (max-width: 1280px) {
  .work-format .center-left-cnt {
    width: 44.3%;
  }
}

@media only screen and (max-width: 1024px) {
  .work-format .center-left-cnt {
    width: 45.3%;
  }
}

@media only screen and (max-width: 768px) {
  .work-format .center-left-cnt {
    width: 100%;
    margin: 0 0 7.9% 0;
  }
}

@media only screen and (max-width: 768px) {
  .work-format .center-left-cnt .active-btn {
    display: none;
  }
}

.work-format .big-title {
  margin: 0 0 8.1%;
  font-size: 50px;
  color: #282321;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 0.025em;
}

@media only screen and (max-width: 1550px) {
  .work-format .big-title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1366px) {
  .work-format .big-title {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1024px) {
  .work-format .big-title {
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .work-format .big-title {
    font-size: 25px;
    margin: 0;
    font-size: 20px;
  }
}

.work-format .tab-v {
  display: none;
}

@media only screen and (max-width: 768px) {
  .work-format .tab-v {
    display: inline-block;
    align-self: center;
  }
}

.work-format .center-right-cnt {
  width: 49%;
  margin: 1% 0 0;
}

@media only screen and (max-width: 768px) {
  .work-format .center-right-cnt {
    width: 100%;
    margin: 0 0 7.9% 0;
  }
}

.work-format .dropdown-menu-cnt .dropdown {
  position: relative;
}

.work-format .dropdown-menu-cnt .dropdown.show .btn-secondary {
  color: #ffffff;
  background-color: #2d9eed;
}

.work-format .dropdown-menu-cnt .dropdown.show .arrow {
  background-image: url("../images/icons/arrow-up.png");
}

.work-format .dropdown-menu-cnt .btn-secondary {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 5.2% 8.3% 4.9%;
  color: #2e2a28;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  border: 1px solid #2d9eed;
  background-color: transparent;
  transition: all ease .4s;
}

@media only screen and (max-width: 1366px) {
  .work-format .dropdown-menu-cnt .btn-secondary {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .work-format .dropdown-menu-cnt .btn-secondary {
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  .work-format .dropdown-menu-cnt .btn-secondary {
    font-size: 16px;
  }
}

@media only screen and (max-width: 568px) {
  .work-format .dropdown-menu-cnt .btn-secondary {
    font-size: 14px;
  }
}

@media only screen and (max-width: 425px) {
  .work-format .dropdown-menu-cnt .btn-secondary {
    font-size: 12px;
  }
}

.work-format .dropdown-menu-cnt .btn-secondary:hover {
  background-color: rgba(45, 158, 237, 0.65);
}

.work-format .dropdown-menu-cnt .arrow {
  width: 27px;
  height: 14px;
  background-image: url("../images/icons/arrow-down.png");
}

@media only screen and (max-width: 1366px) {
  .work-format .dropdown-menu-cnt .arrow {
    width: 24px;
    height: 12px;
  }
}

@media only screen and (max-width: 1280px) {
  .work-format .dropdown-menu-cnt .arrow {
    width: 21px;
  }
}

@media only screen and (max-width: 1150px) {
  .work-format .dropdown-menu-cnt .arrow {
    width: 19px;
  }
}

@media only screen and (max-width: 768px) {
  .work-format .dropdown-menu-cnt .arrow {
    width: 17px;
  }
}

@media only screen and (max-width: 568px) {
  .work-format .dropdown-menu-cnt .arrow {
    width: 14px;
  }
}

@media only screen and (max-width: 425px) {
  .work-format .dropdown-menu-cnt .arrow {
    width: 12px;
  }
}

@media only screen and (max-width: 375px) {
  .work-format .dropdown-menu-cnt .arrow {
    width: 1px;
  }
}

.work-format .dropdown-menu-cnt .dropdown-menu {
  max-height: 400%;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 9% 12.8% 10.6% 8.4%;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: .25rem;
}

.work-format .dropdown-menu-cnt .dropdown-menu.show {
  display: block;
}

.work-format .dropdown-menu-cnt .dropdown-item {
  display: block;
  width: 100%;
  font-size: 23px;
  line-height: 1.4;
  color: #212529;
  background-color: transparent;
}

@media only screen and (max-width: 1440px) {
  .work-format .dropdown-menu-cnt .dropdown-item {
    font-size: 19px;
  }
}

@media only screen and (max-width: 768px) {
  .work-format .dropdown-menu-cnt .dropdown-item {
    font-size: 16px;
  }
}

.work-based {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

.work-based__info, .work-based__image {
  width: 50%;
  position: relative;
}

.work-based__info {
  padding: 4.25% 0;
  background-color: #f5f5f5;
}

.work-based__slider {
  width: 100%;
  height: 100%;
  position: relative;
}

.work-based__slider .slider {
  width: 72.25%;
  margin-left: 15.75%;
}

.work-based__slider .slider-pagination {
  width: 72.25%;
  margin-left: 17.75%;
}

.work-based__slider .slider-nav {
  margin-right: 13%;
}

.work-based__image {
  height: 0;
  overflow: hidden;
  padding-bottom: 35%;
  flex-shrink: 0;
}

.work-based__image img {
  top: 0;
  left: 0;
  object-fit: cover;
  position: absolute;
}

@media only screen and (max-width: 1024px) {
  .work-based {
    flex-direction: column-reverse;
  }
  .work-based__info, .work-based__image {
    width: 100%;
  }
  .work-based__info {
    padding: 60px 0;
  }
  .work-based__image {
    padding-bottom: 55%;
  }
  .work-based__slider {
    padding: 0 25px 60px;
  }
  .work-based__slider .slider {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .work-based__slider {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .work-based__slider .slider-pagination {
    width: 100%;
    padding: 0 25px;
    margin-left: 0;
  }
  .work-based__slider .slider-nav {
    display: none;
  }
}
