@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,800&display=swap');

@import 'vars.scss';
// @import '../fonts/fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
	width: 100%;
    height: 100%;
    object-fit: fill;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

html {
    // overflow: hidden;
}

html, body {
    width: 100%;
    position: relative;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: $regular;
}

.icon {
	display: inline-block;
	background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.header, footer {
    width: 100%;
    position: relative;
    padding: 25px 10% 29px 10%;
    box-shadow: 0 5px 10px rgba(55, 54, 54, 0.3);
    background-color: #373636;

    //@flex
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;

    @include mediaDesctop($w1680) {
        padding: 25px 30px 29px 30px;
    }

    @include mediaDesctop($w1150) {
        justify-content: space-between;
    }

    &__left {
        width: 47.5%;
        position: relative;

        //@flex
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        justify-content: space-between;
    }



    .logo-cnt {

        //@flex
        display: flex;
        align-items: center;

        .logo {
            width: 31px;
            height: 34px;
            margin: 0 19px 0 0;
            background-image: url('../images/icons/logo-webcam.png');

            @include mediaDesctop($w1366) {
                width: 26px;
                height: 29px;
                margin: 0 15px 0 0;
            }

            @include mediaDesctop($w768) {
                width: 28px;
            }
            @include mediaDesctop($w568) {
                width: 25px;
            }
        }

        span {
            color: #ffffff;
            display: block;
            font-family: 'Avenir-Black';
            font-size: 20px;
            line-height: 1.2;

            @include mediaDesctop($w1366) {
                font-size: 20px;
            }

            @include mediaDesctop($w768) {
                font-size: 18px;
            }
            @include mediaDesctop($w568) {
                font-size: 16px;
            }
            @include mediaDesctop($w425) {
                font-size: 14px;
            }
            @include mediaDesctop($w360) {
                font-size: 12px;
            }
        }
    }

    .nav-links-cnt {
        //@flex
        display: flex;
        align-items: center;
        margin-left: 60px;
        @include mediaDesctop($w1150) {
            display: none;
        }

        a {
            position: relative;
            color: #b9b9b9;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.01em
            ;
            @include mediaDesctop($w1366) {
                font-size: 18px;
            }

            @include mediaDesctop($w1366) {
                font-size: 16px;
            }

            &:not(:last-child) {
                margin: 0 40px 0 0;
            }

            &:after {
                content: '';
                position: absolute;
                width: calc(100% - .46em);
                height: 2px;
                left: 0;
                bottom: -6px;
                background: rgba(185, 185, 185, .75);
                -webkit-transform-origin: center center;
                transform-origin: center center;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: -webkit-transform .6s cubic-bezier(.4,0,0,1);
                transition: -webkit-transform .6s cubic-bezier(.4,0,0,1);
                transition: transform .6s cubic-bezier(.4,0,0,1);
                transition: transform .6s cubic-bezier(.4,0,0,1),-webkit-transform .6s cubic-bezier(.4,0,0,1);
            }

            &:hover {
                color: #cecdcd;

                &:after {
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                }
            }
        }
        
    }

    .navigate-btn-cnt {
        //@flex
        display: flex;
        flex-flow: row nowrap;

        button {
            //@flex
            display: flex;
            align-items: center;
            justify-content: center;
            
            padding: 21px 27px;
            border: 2px solid rgba(227, 213, 206, 0.08);
            color: #ffffff;
            transition: all ease .4s;
            font-family: 'Montserrat';
            font-size: 16px;
            font-weight: $regular;
            @include mediaDesctop($w1366) {
                padding: 17px 20px;
            }
            @include mediaDesctop($w1024) {
                padding: 15px 17px;
            }
            @include mediaDesctop($w768) {
                padding: 10px 8px 11px;
            }

            span {
                font-size: 20px;
                letter-spacing: 0.025em;
                @include mediaDesctop($w1366) {
                    font-size: 18px;
                }
                @include mediaDesctop($w1280) {
                    font-size: 16px;
                }
                @include mediaDesctop($w1024) {
                    font-size: 14px;
                }
                @include mediaDesctop($w768) {
                    font-size: 12px;
                }
            }

            .icon {
                &:not(:last-child) {
                    margin: 0 20px 0 0;
                }

                &.arrow {
                    width: 24px;
                    height: 18px;
                    background-image: url('../images/icons/arrow-right.png');
                }
                &.account {
                    width: 19px;
                    height: 19px;
                    background-image: url('../images/icons/account.png');
                }
                &.burger {
                    width: 32px;
                    height: 23px;
                    background-image: url('../images/icons/menu.png');

                    @include mediaDesctop($w1366) {
                        width: 25px;
                        height: 20px;
                    }
                    @include mediaDesctop($w768) {
                        width: 14px;
                        height: 10px;
                    }
                }
            }
            
            &:hover {
                border: 2px solid rgba(227, 213, 206, 0.3);
            }
        }

        .lang-btn {
            margin: 0 30px 0 0;
            color: #b9b9b9;
            @include mediaDesctop($w768) {
                margin: 0 15px 0 0;
            }
        }
        .login-btn {
            margin: 0 15px 0 0;
        }
        .reg-btn {
            margin: 0 55px 0 0;
            background-color: rgba(227, 213, 206, 0.08);
        }
        .burger-menu {
            background-color: rgba(227, 213, 206, 0.08);
        }

        &.tablet-hide-cnt {
            @include mediaDesctop($w1150) {
                .login-btn, .reg-btn {
                    display: none;
                }
            }
        }
        
    }
}

footer {
    margin: 4.2% 0 0;
    justify-content: space-around;

    .logo-cnt {

        //@flex
        display: flex;
        align-items: center;

        .logo {
            background-image: url('../images/icons/logo-webcam-dark.png');
        }

        span {
            color: #b9b9b9;

        }
    }

    .copyright-cnt {
        span {
            color: #b8b8b8;
            line-height: 1.2;
            letter-spacing: 0.025уь;

            @include mediaDesctop($w768) {
                font-size: 14px;
            }
            @include mediaDesctop($w425) {
                font-size: 10px;
            }
            @include mediaDesctop($w425) {
                font-size: 8px;
            }
        }
    }
}

// @slider base
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.slider-pagination {
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 2;
    position: absolute;

    // @flex
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    opacity: 0.4;
    display: block;
    cursor: pointer;
    position: relative;
    background: #2d9eed;
    transition: opacity 0.3s ease-out;

    &:not(:last-child) {
        margin-right: 10px;
    }

    &.swiper-pagination-bullet-active {
        opacity: 1;
        pointer-events: none;
    }
}

.slider-nav {
    width: auto;
    right: 0;
    bottom: 0;
    z-index: 3;
    position: absolute;

    // @flex
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.slider-btn {
    width: 34px;
    height: 34px;
    background-color: #2d9eed;
    transition: opacity 0.3s ease-out;

    //@flex
    display: flex;
    align-items: center;
    justify-content: center;

    &.swiper-button-disabled {
        opacity: 0.4;
    }

    .icon {
        width: 6px;
        height: 12px;

        &.prev-ico {
            background-image: url('../images/icons/arrow-prev.png');
        }
        &.next-ico {
            background-image: url('../images/icons/arrow-next.png');
        }
    }
}

.slider {
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    position: relative;
    
    &__title {
        font-size: 32px;
        color: #282321;
        font-weight: $bold;
        line-height: 1.25; 
        letter-spacing: 0.01em;
        @include mediaDesctop($w1440) {
            font-size: 24px;
        }
        @include mediaDesctop($w768) {
            font-size: 20px;
        }
    }

    &__desc {
        width: 100%;
        position: relative;
        margin-top: 30px;

        &Inner {
            width: 100%;
            position: relative;

            &--mid {
                color: #2e2a28;
                font-size: 20px;
                line-height: 1.35;
                font-weight: $semi-bold;
                letter-spacing: 0.01em;

                @include mediaDesctop($w1366) {
                    font-size: 17px;
                }
                @include mediaDesctop($w768) {
                    font-size: 14px;
                }
            }

            &--sml {
                margin-top: 20px;

                width: 80%;
                color: #2e2a28;
                font-size: 16px;
                line-height: 1.6;
                letter-spacing: 0.01em;

                @include mediaDesctop($w1366) {
                    font-size: 14px;
                }
                @include mediaDesctop($w768) {
                    font-size: 12px;
                }
            }
        }
    }
}

strong {
    display: inline-block;
    position: relative;
    font-weight: inherit;

    &:after {
        content: '';
        position: absolute;
        height: 100%;
        // bottom: -42%;
        bottom: -2%;
        z-index: -1;
        background-color: #e3d5ce;
        height: 20px;
    }

    &:after {
        width: 100%;
        left: 0;
    }
}

// @active-btn
.active-btn {
    display: inline-block;
    padding: 28px 64px 29px;
    // padding: 3.3% 7.7% 3.3%;
    border: 2px solid #2d9eed;
    transition: all ease .4s;
    @include mediaDesctop($w1366) {
        padding: 25px 55px 26px;
    }
    @include mediaDesctop($w1024) {
        padding: 20px 45px 21px;
    }
    @include mediaDesctop($w768) {
        padding: 15px 35px 16px;
    }
    @include mediaDesctop($w425) {
        padding: 10px 25px 11px;
    }
    

    span {
        color: #282321;
        font-size: 20px;
        line-height: 1.2;
        font-weight: $extra-bold;
        letter-spacing: 0.08em;
        @include mediaDesctop($w1366) {
            font-size: 18px;
        }
        @include mediaDesctop($w1024) {
            font-size: 16px;
        }
        @include mediaDesctop($w768) {
            font-size: 14px;
        }
        @include mediaDesctop($w568) {
            font-size: 12px;
        }
        @include mediaDesctop($w360) {
            font-size: 10px;
        }
    }

    &:hover {
        background-color: rgba(45, 158, 237, .5);
        &.fill-blue {
            background-color: rgba(45, 158, 237, .5);
        }
        
    }

    &.fill-blue {
        box-shadow: 0 5px 10px rgba(55, 54, 54, 0.3);
        background-color: rgba(45, 158, 237, 1);
    }
}

// @main-setion
.main-section {
    //@flex
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    
    padding: 12.6% 0 3.2% 10%;
    background-image: url('../images/main-bg.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;

    @include mediaDesctop($w1024) {
        background-image: url('../images/tablet-bg.jpg');
    }
    @include mediaDesctop($w768) {
        margin-bottom: 40px;
        padding: 12.6% 6% 7%;
    }
    @include mediaDesctop($w568) {
        padding: 12.6% 6% 11%;
    }
    @include mediaDesctop($w425) {
        padding: 12.6% 6% 14%;
    }
    @include mediaDesctop($w375) {
        padding: 12.6% 6% 18%;
    }
    @include mediaDesctop($w360) {
        padding: 12.6% 6% 20%;
    }

    .center-left-cnt {
        width: 50%;
        margin: 0 0 12.2%;
        @include mediaDesctop($w768) {
            width: 70%;
        }

        .big-title {
            margin: 0 0 3.6%;

            color: #282321;
            font-size: 60px;
            font-weight: $extra-bold;
            line-height: 1.3;
            letter-spacing: 0.03em;

            @include mediaDesctop($w1550) {
                font-size: 40px;
            }

            @include mediaDesctop($w1366) {
                font-size: 30px;
            }

            @include mediaDesctop($w768) {
                margin: 0;
                font-size: 20px;
                margin-bottom: 10px;

                br {
                    display: none;
                }
            }

            @include mediaDesctop($w425) {
                font-size: 18px;
            }
        }

        .description {
            width: 77%;
            margin: 0 0 8.3%;
            color: #2b2826;
            font-size: 25px;
            line-height: 1.4;
            letter-spacing: 0.012em;

            @include mediaDesctop($w1440) {
                font-size: 20px;
            }
            @include mediaDesctop($w1366) {
                font-size: 18px;
            }
            @include mediaDesctop($w1024) {
                font-size: 16px;
            }
            @include mediaDesctop($w768) {
                font-size: 14px;
            }
            @include mediaDesctop($w425) {
                font-size: 12px;
            }
            @include mediaDesctop($w375) {
                font-size: 10px;
            }
            
        }
    }

    .bot-left-cnt {
        width: 60%;

        //@flex
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        @include mediaDesctop($w1366) {
            width: 70%;
        }
        @include mediaDesctop($w768) {
            width: 100%;
            margin-bottom: -140px;
        }

        .text-block {
            //@flex
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            @include mediaDesctop($w768) {
                flex-flow: column nowrap;
                align-items: flex-start;
            }

            &:not(:last-child) {
                margin: 0 60px 0 0;
                @include mediaDesctop($w1280) {
                    margin: 0 50px 0 0;
                }
                @include mediaDesctop($w1150) {
                    margin: 0 40px 0 0;
                }
            }
            
            .icon {
                margin: 0 20px 0 0;
                @include mediaDesctop($w768) {
                    margin: 0 0 15px;
                }

                &.time {
                    width: 26px;
                    height: 26px;
                    background-image: url('../images/icons/time-is-money.png');
                    @include mediaDesctop($w1150) {
                        width: 22px;
                        height: 22px;
                    }
                }
                &.imac {
                    width: 28px;
                    height: 27px;
                    background-image: url('../images/icons/imac.png');
                    @include mediaDesctop($w1150) {
                        width: 24px;
                        height: 23px;
                    }
                }
                &.rich {
                    width: 27px;
                    height: 27px;
                    background-image: url('../images/icons/rich.png');
                    @include mediaDesctop($w1150) {
                        width: 23px;
                        height: 23px; 
                    }
                }
            }

            span {
                color: #282321;
                line-height: 1.2;
                letter-spacing: 0.025em;
                @include mediaDesctop($w768) {
                    font-size: 14px;
                }
                @include mediaDesctop($w568) {
                    font-size: 12px;
                }
                @include mediaDesctop($w425) {
                    font-size: 10px;
                }
            }
        }
    }
}

//@work-format
.work-format {
     //@flex
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    
    padding: 80px 12% 8.1% 10%;

    @include mediaDesctop($w768) {
        flex-flow: column nowrap;
        padding: 120px 6% 8.1%;
    }

    .active-btn {
        padding: 28px 55px 29px;
        @include mediaDesctop($w1366) {
            padding: 25px 55px 26px;
        }
        @include mediaDesctop($w1024) {
            padding: 20px 45px 21px;
        }
        @include mediaDesctop($w768) {
            padding: 24px 67px 25px;
        }
        @include mediaDesctop($w568) {
            width: 100%;
            padding: 24px 0px 25px;
            text-align: center;
        }

        span {
            
            @include mediaDesctop($w568) {
                font-size: 16px;
            }
            @include mediaDesctop($w425) {
                font-size: 14px;
            }
        }
    }

    .center-left-cnt {
        width: 42.3%;
        margin: 0 7.9% 0 0px;
        @include mediaDesctop($w1366) {
            width: 43.3%;
        }
        @include mediaDesctop($w1280) {
            width: 44.3%;
        }
        @include mediaDesctop($w1024) {
            width: 45.3%;
        }
        @include mediaDesctop($w768) {
            width: 100%;
            margin: 0 0 7.9% 0;
        }

        //@active-btn inner -web-v-
        .active-btn {
            @include mediaDesctop($w768) {
                display: none;
            }
        }
    }

    .big-title {
        margin: 0 0 8.1%;
        font-size: 50px;
        color: #282321;
        font-weight: $extra-bold;
        line-height: 1.3;
        letter-spacing: 0.025em;

        @include mediaDesctop($w1550) {
            font-size: 40px;
        }

        @include mediaDesctop($w1366) {
            font-size: 30px;
        }
        @include mediaDesctop($w1024) {
            font-size: 20px;
        }
        @include mediaDesctop($w768) {
            font-size: 25px;
            margin: 0;
            font-size: 20px;
        }
    }
    
    //@active-btn outer -tab-v-
    .tab-v {
        display: none;
        @include mediaDesctop($w768) {
            display: inline-block;
            align-self: center;
        }
    }

    .center-right-cnt {
        width: 49%;
        margin: 1% 0 0;
        @include mediaDesctop($w768) {
            width: 100%;
            margin: 0 0 7.9% 0;
        }
    }

    .dropdown-menu-cnt {
        .dropdown {
            position: relative;

            &.show {
                .btn-secondary {
                    color: #ffffff;
                    background-color: #2d9eed;
                }

                .arrow {
                    background-image: url('../images/icons/arrow-up.png');
                }
            }
        }

        .btn-secondary {
            //@flex
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            width: 100%;
            padding: 5.2% 8.3% 4.9%;
            color: #2e2a28;
            font-size: 24px;
            font-weight: $bold;
            text-align: left;
            border: 1px solid #2d9eed;
            background-color: transparent;
            transition: all ease .4s;
            @include mediaDesctop($w1366) {
                font-size: 20px;
            }
            @include mediaDesctop($w1024) {
                font-size: 18px;
            }
            @include mediaDesctop($w768) {
                font-size: 16px;
            }
            @include mediaDesctop($w568) {
                font-size: 14px;
            }
            @include mediaDesctop($w425) {
                font-size: 12px;
            }

            &:hover {
                background-color: rgba(45, 158, 237, .65);
            }
        }

        .arrow {
            width: 27px;
            height: 14px;
            background-image: url('../images/icons/arrow-down.png');
            @include mediaDesctop($w1366) {
                width: 24px;
                height: 12px;
            }
            @include mediaDesctop($w1280) {
                width: 21px;
            }
            @include mediaDesctop($w1150) {
                width: 19px;
            }
            @include mediaDesctop($w768) {
                width: 17px;
            }
            @include mediaDesctop($w568) {
                width: 14px;
            }
            @include mediaDesctop($w425) {
                width: 12px;
            }
            @include mediaDesctop($w375) {
                width: 1px;
            }
        }

        .dropdown-menu {
            max-height: 400%;
            overflow-y: auto;
            overflow-x: hidden;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            display: none;
            float: left;
            min-width: 10rem;
            padding: 9% 12.8% 10.6% 8.4%;
            margin: .125rem 0 0;
            font-size: 1rem;
            color: #212529;
            text-align: left;
            list-style: none;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0,0,0,.15);
            border-radius: .25rem;

            &.show {
                display: block;
            }
        }

        .dropdown-item {
            display: block;
            width: 100%;
            font-size: 23px;
            line-height: 1.4;
            color: #212529;
            background-color: transparent;

            @include mediaDesctop($w1440) {
                font-size: 19px;
            }

            @include mediaDesctop($w768) {
                font-size: 16px;
            }
        }
    }
}

// @work-based
.work-based {
    width: 100%;
    overflow: hidden;
    position: relative;

    // @flex
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: flex-start;

    &__info,
    &__image {
        width: 50%;
        position: relative;
    }

    &__info {
        padding: 4.25% 0;
        background-color: #f5f5f5;
    }

    &__slider {
        width: 100%;
        height: 100%;
        position: relative; 

        .slider {
            width: 72.25%;
            margin-left: 15.75%;
        }

        .slider-pagination {
            width: 72.25%;
            margin-left: 17.75%;
        }

        .slider-nav {
            margin-right: 13%;
        }
    }

    &__image {
        height: 0;
        overflow: hidden;
        padding-bottom: 35%;
        flex-shrink: 0;

        img {
            top: 0;
            left: 0;
            object-fit: cover;
            position: absolute;
        }
    }

    @include mediaDesctop($w1024) {
        flex-direction: column-reverse;

        &__info,
        &__image {
            width: 100%;
        }

        &__info {
            padding: 60px 0;
        }

        &__image {
            padding-bottom: 55%;
        }

        &__slider {
            padding: 0 25px 60px;

            .slider {
                width: 100%;
                margin: 0;
            }
        }
    }

    @include mediaDesctop($w768) {
        &__slider {
            width: 100%;
            height: 100%;
            position: relative; 

            .slider-pagination {
                width: 100%;
                padding: 0 25px;
                margin-left: 0;
            }

            .slider-nav {
                display: none;
            }
        }
    }
}