@keyframes circleLines {
  0% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes circleColor {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
