$w1920: 1920px;
$w1680: 1680px;
$w1550: 1550px;
$w1440: 1440px;
$w1366: 1366px;
$w1280: 1280px;
$w1150: 1150px;
$w1024: 1024px;

$w980: 980px;
$w768: 768px;
$w640: 640px;
$w568: 568px;
$w440: 440px;
$w425: 425px;
$w375: 375px;
$w360: 360px;
$w320: 320px;

$h500: 500px;

//Font Weight
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

@mixin mediaDesctop($width) {
  @media only screen and (max-width: #{$width}) {
    @content;
  }
} 

@mixin mediaDesctopTablet($width1, $width2) {
  @media only screen and (min-width: #{$width1}) and (max-width: #{$width2}) {
    @content;
  }
}

@mixin mediaMobileHorizontal($width, $height) {
  @media only screen and (max-width: #{$width}) and (max-height: #{$height}) and (orientation: landscape) {
    @content;
  }
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function calcFluidFontSize($f-min, $f-max, $w-min, $w-max, $units: px) {
  $f-min: strip-unit($f-min);
  $f-max: strip-unit($f-max);
  $w-min: strip-unit($w-min);
  $w-max: strip-unit($w-max);
  
	$k: ($f-max - $f-min)/($w-max - $w-min);
	$b: $f-min - $k * $w-min;

	$b: $b + $units;

	@return calc( #{$k} * 100vw + #{$b} );
}

@mixin fluidFontSize($f-min, $f-max, $w-min, $w-max, $fallback: false) {
  
  font-size: $f-min;
  
  @media (min-width: $w-min) {
    @if ($fallback) {
      font-size: $fallback;
    }
    font-size: calcFluidFontSize($f-min, $f-max, $w-min, $w-max, px);  
  }
  @media (min-width: $w-max) {
    font-size: $f-max;
  }
}

@keyframes circleLines {
  0% {transform: scale(.4);}
  100% {transform: scale(1.1);}
}

@keyframes circleColor {
  0% {opacity: 1; transform: scale(0);}
  100% {opacity: 0; transform: scale(1);}
}
